asttokens
backcall
contourpy
cycler
debugpy
decorator
entrypoints
executing
fonttools
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
packaging
parso
pexpect
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
Pygments
pyparsing
python-dateutil
six
stack-data
svg.path
tornado
traitlets
wcwidth
